data/
tcr_embedding.egg-info/
saved_models/
.idea/
preprocessing/.ipynb_checkpoints/
colab/
comet_ml_key/
ray_results/
*pycache*
*pyc
scripts/
*ipynb_checkpoints*
tcr_embedding/models/__pycache__/
/experiments/saved_models_delete/
config/
config_tune/
*.pdf
optuna
*.jpg
*.pt
*.db
*.psd
/experiments/figures
baseline/TESSA/
baseline/tmp
baseline/results
**/*.pyc
**/__pycache__/