build/
dist/
mvtcr.egg-info/
data/
saved_models/
.idea/
**/.ipynb_checkpoints/
comet_ml_key/
scripts/
optuna/
*.pdf
*.jpg
*.pt
*.db
*.psd
**/*.pyc
**/__pycache__/
config/API_key.txt

**/baseline/
manuscript/journal/results/
manuscript/journal/figures/
manuscript/journal/additional_data/
